{% load static %}
{% load i18n %}
<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{% trans "Смета №" %}{{ kp.id }} — {{ kp.title }}</title>
  <link rel="stylesheet" href="{% static 'kp/print.css' %}">
</head>

<body>

  <div class="no-print print-actions">
    <a class="btn" href="{% url 'kp:builder' kp.id %}">{% trans "Назад" %}</a>
    <a class="btn btn-primary" href="{% url 'kp:print' kp.id %}?download=1">{% trans "Скачать PDF" %}</a>
  </div>

  <div class="page">

    {% include "kp/print/_header.html" %}

    

    {# Основная информация: Заказчик / Исполнитель #}
    <section class="block card">
      <div class="grid-2">
        <div class="cardish">
          <div class="h3 center">{% trans "Заказчик" %}</div>

          <div class="pill">
            <div class="label">{% trans "ФИО" %}</div>
            <div class="value value-strong">{{ customer_full_name|default:"—" }}</div>
          </div>

          <div class="pill">
            <div class="label">{% trans "Телефон" %}</div>
            <div class="value value-strong">{{ customer_phone|default:"—" }}</div>
          </div>
        </div>

        <div class="cardish">
          <div class="h3 center">{% trans "Исполнитель" %}</div>

          <div class="pill">
            <div class="label">{% trans "ФИО / Название" %}</div>
            <div class="value value-strong">{{ performer_name|default:"—" }}</div>
          </div>

          <div class="pill">
            <div class="label">{% trans "Телефон" %}</div>
            <div class="value value-strong">{{ performer_phone|default:"—" }}</div>
          </div>
        </div>
      </div>
    </section>

    {# Параметры сметы #}
    <section class="block card">
      <h2 class="h2 center">{% trans "Параметры сметы" %}</h2>

      <div class="grid-2">
        <div class="pill">
          <div class="label">{% trans "Заголовок сметы" %}</div>
          <div class="value value-big">{{ kp.title|default:"—" }}</div>
        </div>

        <div class="pill">
          <div class="label">{% trans "Дата и время" %}</div>
          <div class="value value-strong">
            {% if event_dt %}{{ event_dt|date:"d.m.Y H:i" }}{% else %}{{ now|date:"d.m.Y H:i" }}{% endif %}
          </div>
        </div>

        {% if meta.event_description %}
        <div class="pill pill-full">
          <div class="label">{% trans "Описание / заметки" %}</div>
          <div class="value value-pre">{{ meta.event_description }}</div>
        </div>
        {% endif %}
      </div>
    </section>

    {% include "kp/print/_services.html" %}
    {% include "kp/print/_footer.html" %}

  </div>
</body>
</html>
