{% load i18n %}

<footer class="footer">
  <hr class="hr">

  <div class="footer-line">
    <div class="footer-item">
      <span class="muted">{% trans "Исполнитель:" %}</span>
      <b>{{ performer_name|default:"—" }}</b>
      {% if performer_phone %} · {{ performer_phone }}{% endif %}
    </div>

    {% comment %}<div class="footer-sep">|</div>{% endcomment %}

    <div class="footer-item">
      <span class="muted">{% trans "Контакты:" %}</span>
      {% if performer_email %}
        {{ performer_email }}
      {% else %}
        —
      {% endif %}
    </div>
  </div>
</footer>
