DJANGO_SECRET_KEY=change-me-long-random-secret
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=ala-event.kz,www.ala-event.kz,194.32.141.184
DJANGO_CSRF_TRUSTED_ORIGINS=https://ala-event.kz,https://www.ala-event.kz
DJANGO_SQLITE_NAME=db.sqlite3
DJANGO_SECURE_SSL_REDIRECT=True
DJANGO_SESSION_COOKIE_SECURE=True
DJANGO_CSRF_COOKIE_SECURE=True
DJANGO_SECURE_HSTS_SECONDS=31536000
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=True
DJANGO_SECURE_HSTS_PRELOAD=False
KP_PERFORMER_NAME=ИП Level-Up
KP_PERFORMER_PHONE=+77075822357
KP_PERFORMER_EMAIL=abdildaajzada@gmail.com
